<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommndr</title>

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <style>
        #photo{
            background-image: url(https://source.unsplash.com/1920x1080/?music,songs,radio);
            
        };
        
    </style>
</head>



<body id="photo">
    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
                    viewBox="0 0 24 24">
                    <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg>
                <span class="ml-3 text-white text-8xl">Recommndr</span>
            </a>

        </div>
    </header>
    <hr>
    <section class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-col px-5 py-24 justify-center items-center">
            <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt=""
                src="" id="imgPreview">
            <div class="w-full md:w-2/3 flex flex-col mb-16 items-center text-center">
                <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">Get a Song recommended.</h1>
                <p class="mb-8 text-white leading-relaxed">Upload an image to get a Spotify songs page result according to your
                    environment!</p>
                <div class="flex w-full justify-center items-end">
                    <div class="relative mr-4 lg:w-full xl:w-1/2 w-2/4 md:w-full text-left">
                        <label for="hero-field" class="leading-7 text-sm text-white">Image (.jpeg, .png,
                            etc.)</label>
                        <input type="text" id="hero-field" name="hero-field" value=""
                            class="w-full bg-gray-100 bg-opacity-50 rounded focus:ring-2 focus:ring-indigo-200 focus:bg-transparent border border-gray-300 focus:border-indigo-500 text-base outline-none text-white py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                            disabled>
                    </div>
                    <button
                        class="inline-flex text-white bg-indigo-500 border-2 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"
                        ><a href="upload">Upload</button>
<!--                     <script>
                        document.querySelector("#myFileInput").addEventListener("change", function () {
                            const reader = new FileReader();

                            reader.addEventListener("load", () => {
                                localStorage.setItem("recent-image", reader.result);
                            });

                            reader.readAsDataURL(this.files[0]);

                            const recentImageDataUrl = localStorage.getItem("recent-image");

                            if (recentImageDataUrl) {
                                document.querySelector("#imgPreview").setAttribute("src", recentImageDataUrl);
                                document.querySelector('#hero-field').setAttribute("value", recentImageDataUrl);
                            }

                        });

                    </script> -->



                    <button
                        class="inline-flex text-white bg-red-500 border-2 py-2 px- focus:outline-none hover:bg-indigo-600 rounded text-lg"><a href='/my-link/'>Recommend</button>
                </div>
                <p class="text-sm mt-2 text-gray-500 mb-8 w-full"></p>

            </div>
        </div>
    </section>

</body>

</html>

